* {
    margin: 0;
    padding: 0;
    font-weight: 200;
    color: #fff;
}

body {
    /* font-family: "cotham"; */
    background-color: #313131;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    /* background-color: #ffffff; */
}

nav {
    top: 0;
    position: sticky;
    width: 100%;
    border-bottom: 1px solid #dedede;
    /* box-shadow: 0 0 2px #dedede; */
}

nav .logo,
nav {
    display: flex;
}

nav .logo {
    cursor: pointer;
    transform: translate(10px,0);
    user-select: none;
    height: 100%;
}

nav .logo-title {
    height: 64px;
    display: grid;
    place-content: center;
    font-size: 28px;
    color: #fff;
    cursor: text;
    font-weight: 400;
    position: relative;
}

nav .logo-icon {
    padding: 10px;
}

nav .logo-icon img {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    padding: 0px;
    border: 1px solid #fff;
    padding: 2px;
}


nav .actions {
    display: flex;
    height: 100%;
    right: 0px;
    position: absolute;
    justify-content: center;
}

nav .actions>div , nav .actions a{
    display: grid;
    font-weight: 400;
    place-content: center;
    padding: 10px;
    height: 32px;
    align-self: center;
    text-align: center;
    cursor: pointer;
    transition-duration: 0.4s;
    padding:10px;
    margin-right: 10px;
}

nav .actions>div:hover {
    border-radius:  100px;
    background-color: #fafafa;
    color:black;
}
nav .actions a{
    text-decoration: none;
}
nav .actions a:hover{
    color:black;
}

.main_section {
    width: 100%;
    text-align: center;
    /* height: calc(100% - 75px); */
    /* display: grid;
    place-content: center; */
}
.main_section > .hello{
    font-size: 48px;
}
.main_section > .hello .info-3 {
    color:#dedede;
    font-size: 32px;
}
nav .hamburger {
    display: none;
}
.tech{
    font-size: 26px;
}
.subscribe{
    top:20px;
    position: relative;
    font-size: 28px;
}
.subscribe > input, .subscribe > button{
    padding:8px;
    outline:0;
    font-size: 20px;
    padding-left:20px;
    padding-right:20px;

    margin:10px;
    color:#000;
    border:0;
    width:280px;
    border-radius: 50px;
}
.subscribe > button{
    cursor: pointer;
    background-color: transparent;
    width: auto;
    transition-duration: 0.2s;
    border:2px solid white;
    color: white;
    box-shadow: none;
    padding:10px;
    width: 140px;
}
.subscribe > button:hover{
    box-shadow:  0 0 5px white;
    color: black;
    background-color: white;
}
.icons > img{
    width: 128px !important;
    height: 128px !important;
    cursor: pointer;
}
.icons > img:hover{
    opacity: 0.7;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.icons img::before{
    content:'a';
}
.subscribe > input:focus{
    
    box-shadow: 0 0 0 4px grey,0 0 0 6px white;
}
@media screen and (max-width:720px) {
    nav .actions {
        display: none;
    }
    .hamburger {
        display: block;
    }
}